mdb-card {
  cursor: pointer;
  max-width: 554px;

  &:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.42);
    transform: translateY(-2px);
  }
}

.project-link{
  color:rgb(199, 167, 128);
  
&:hover {
  color: rgb(224, 131, 9);
}
}