#modal-content-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(1fr, 3);
}

#modal-title {
    font-size: 22px;
}

#modal-footer {
    justify-self: right;
    align-self: center;
}

.project-link{
    color:rgb(199, 167, 128);
    
  &:hover {
    color: rgb(224, 131, 9);
  }
}

h3 {
    padding-top: 1em;
    font-size: medium;
}

h4 {
    padding-top: 1em;
    font-weight: 600;

    font-size: larger;
}