h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  padding-top: 3.5vh;
}

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.container {
  padding: 0 15%;
  margin: 0;
//   @media (min-width: 771px) {
//     padding: 0 15% 0 15% 0;
//     padding-left: 15%;
//     padding-right: 15%;
// }

// /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
//     @media (max-width: 770px) {
//     padding-left: 3%;
//     padding-right: 3%;
// }
}
b{font-weight:bold;}