.intro-header {
  height: unset !important;
}
.top-nav-collapse {
  background-color: #78909c !important;
}
.view {
  height: 90vh !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}
h1 {
  letter-spacing: 8px;

}

h2 {
  letter-spacing: 4px;
@media (min-width: 601px) {
    font-size: 28px;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media (max-width: 600px) {
    font-size: 25px;
}
}
h5 {
  letter-spacing: 3px;
  /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media (min-width: 601px) {
    font-size: 18px;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media (max-width: 600px) {
    font-size: 15px;
}
}
.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 700px;
  }
}

.background-image{
    height: 10%;
}

.avatar{
    width: 20%;

    margin-bottom: 20px;
    
    border-radius: 100%;
    background-color: #fff5ed;
    padding: 5px;

    @media (max-width: 770px) {
      width: 150px;
    }
  
}

.icon-header {
  color: white;
  transition: color ease-in-out 0.2s;

  &:hover {
    color: orange;
  }
}

.projects {
    
  /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media (min-width: 771px) {
    padding: 2em;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media (max-width: 770px) {
    padding: 0.5em;
}
}