@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap');

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
}

.title {
    height: 10vh;
}

body {
  font-family: 'Roboto Slab', serif;
  
    font-weight: 300;
}

.card-deck {
    padding-bottom: 30px;
    
    @media (min-width: 771px) {
      padding: 0 15%;
    }

    /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
    @media (max-width: 770px) {
      padding: 0;
    }
}

h3 {
    padding-top: 1em;
    font-size: medium;
}

.project-link{
    color:rgb(199, 167, 128);
    
  &:hover {
    color: rgb(224, 131, 9);
  }
}

h4 {
    padding-top: 1em;
    font-weight: 600;

    font-size: larger;
}